<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soprasteria.movalysmdk.widget.media" >

    <application android:allowBackup="true">
        <activity
        android:name=".DrawingLayoutActivity"
        android:label="@string/drawing_activity"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
    </activity>
    </application>

</manifest>
